<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865424710262-hfce07gfnpva9onb7autqu3of4k329c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865424710262-hfce07gfnpva9onb7autqu3of4k329c9</string>
	<key>API_KEY</key>
	<string>AIzaSyCkl7o2TDGs6m5JppyNp97CRJ-OaP9bE0c</string>
	<key>GCM_SENDER_ID</key>
	<string>865424710262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hachiboba.chip</string>
	<key>PROJECT_ID</key>
	<string>bew-chip</string>
	<key>STORAGE_BUCKET</key>
	<string>bew-chip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865424710262:ios:20a067452a6a42c1481d57</string>
</dict>
</plist>